<script setup lang="ts">
import { ref } from "vue";

const products = ref(
  Array.from(Array(100).keys()).map((item) => {
    return {
      id: item,
      name: "Product " + (item + 1),
      price: (Math.floor(Math.random() * 100) + 1) * 10,
    };
  })
);
</script>

<template>
  <v-container>
    <v-table>
      <thead>
        <tr>
          <th class="text-center">id</th>
          <th class="text-center">name</th>
          <th class="text-center">price</th>
        </tr>
      </thead>
      <tbody>
        <span class="center">No Data</span>
      </tbody>
    </v-table>
  </v-container>
</template>
