<script lang="ts" setup>
const showButton = () => {};
</script>

<template>
  <v-container>
    <v-row justify="center">
      <v-card-title class="text-h5 pa-6">Angry</v-card-title>
    </v-row>
    <v-row justify="center" class="pt-12">
      <v-btn style="width: 800px" class="text-h6" @click="showButton"
        >Angry</v-btn
      >
    </v-row>
    <v-row justify="center" class="pt-12">
      <v-btn style="width: 800px" class="text-h6" @click="showButton"
        >Cute</v-btn
      >
    </v-row>
    <v-row justify="center" class="pt-12">
      <v-btn style="width: 800px" class="text-h6" @click="showButton"
        >Excited</v-btn
      >
    </v-row>
    <v-row justify="center" class="pt-12">
      <v-btn style="width: 800px" class="text-h6" @click="showButton"
        >Pain</v-btn
      >
    </v-row>
    <v-row justify="center" class="pt-12">
      <v-btn style="width: 800px" class="text-h6" @click="showButton"
        >Shocked</v-btn
      >
    </v-row>
    <v-row justify="center" class="pt-12">
      <v-btn style="width: 800px" class="text-h6" @click="showButton"
        >Smile</v-btn
      >
    </v-row>
  </v-container>
</template>

<style scoped></style>
