<script lang="ts" setup>
import { ref } from "vue";
const img = ref("../../feeling_imgs/angry.png");
const isColor = ref(false);
const colorAngry = ref("");
const colorCute = ref("");
const colorExited = ref("");
const colorPain = ref("");
const colorShocked = ref("");
const colorSmile = ref("");
const text = ref("Angry");

function reColorAngry() {
  colorCute.value = "";
  colorExited.value = "";
  colorPain.value = "";
  colorShocked.value = "";
  colorSmile.value = "";
  return;
}
function reColorCute() {
  colorAngry.value = "";
  colorExited.value = "";
  colorPain.value = "";
  colorShocked.value = "";
  colorSmile.value = "";
  return;
}

function reColorExited() {
  colorCute.value = "";
  colorAngry.value = "";
  colorPain.value = "";
  colorShocked.value = "";
  colorSmile.value = "";
  return;
}

function reColorPain() {
  colorCute.value = "";
  colorAngry.value = "";
  colorExited.value = "";
  colorShocked.value = "";
  colorSmile.value = "";
  return;
}

function reColorShocked() {
  colorCute.value = "";
  colorAngry.value = "";
  colorPain.value = "";
  colorExited.value = "";
  colorSmile.value = "";
  return;
}
function reColorSmile() {
  colorCute.value = "";
  colorAngry.value = "";
  colorPain.value = "";
  colorShocked.value = "";
  colorExited.value = "";
  return;
}

function changeImgAngry() {
  if (!isColor.value) {
    colorAngry.value = "yellow";
  }
  img.value = "../../feeling_imgs/angry.png";
  text.value = "Angry";
  reColorAngry();
  return;
}

function changeImgCute() {
  if (!isColor.value) {
    colorCute.value = "yellow";
  }
  img.value = "../../feeling_imgs/cute.png";
  text.value = "Cute";
  reColorCute();
  return;
}

function changeImgExited() {
  if (!isColor.value) {
    colorExited.value = "yellow";
  }
  img.value = "../../feeling_imgs/excited.png";
  text.value = "Exited";
  reColorExited();
  return;
}

function changeImgPAIN() {
  if (!isColor.value) {
    colorPain.value = "yellow";
  }
  img.value = "../../feeling_imgs/pain.png";
  text.value = "Pain";
  reColorPain();
  return;
}
function changeImgShocked() {
  if (!isColor.value) {
    colorShocked.value = "yellow";
  }
  img.value = "../../feeling_imgs/shocked.png";
  text.value = "Shocked";
  reColorShocked();
  return;
}

function changeImgSmile() {
  if (!isColor.value) {
    colorSmile.value = "yellow";
  }
  img.value = "../../feeling_imgs/smile.png";
  text.value = "Smile";
  reColorSmile();
  return;
}
</script>
<template>
  <v-container>
    <v-row>
      <v-col cols="6">
        <v-container>
          <v-img
            class="justify-center"
            style="height: 600px; width: 600px"
            :src="img"
          ></v-img>
        </v-container>
      </v-col>
      <v-col cols="6">
        <v-row class="mt-10" justify="center">
          <div style="font-size: 40px">{{ text }}</div>
        </v-row>
        <v-row class="mt-10" justify="center">
          <v-btn width="500px" @click="changeImgAngry" :color="colorAngry"
            >Angry</v-btn
          >
        </v-row>
        <v-row class="mt-10" justify="center">
          <v-btn width="500px" @click="changeImgCute" :color="colorCute"
            >CUTE</v-btn
          >
        </v-row>
        <v-row class="mt-10" justify="center">
          <v-btn width="500px" @click="changeImgExited" :color="colorExited"
            >Exited</v-btn
          >
        </v-row>
        <v-row class="mt-10" justify="center">
          <v-btn width="500px" @click="changeImgPAIN" :color="colorPain"
            >PAIN</v-btn
          >
        </v-row>
        <v-row class="mt-10" justify="center">
          <v-btn width="500px" @click="changeImgShocked" :color="colorShocked"
            >SHOCKED</v-btn
          >
        </v-row>
        <v-row class="mt-10" justify="center">
          <v-btn width="500px" @click="changeImgSmile" :color="colorSmile"
            >SMILE</v-btn
          >
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped></style>
